*{
    margin: 0;
    padding: 0;
}

.task2{
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #282c34;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.clock{

    position:relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #051817,#0e3839);
    height:180px;
    width:360px;
    color:#06f1f6;
    text-shadow: 1px 1px 7px;
    border-radius: 15px;
    border: 2px solid silver;
    box-shadow: 0 0 5px 25px;
    margin-top: 50px;

}

.clock section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.clock section p{
    font-size: 4rem;
}

.clock section small{
    color: silver;
    text-shadow: none;
}

.task-heading{
    text-align: center;
    font-size: 5rem;
    color: red;
    font-weight: 600;
    width:100%;

}

.timer-set{
    justify-content: center;
    text-align: center;
    margin-top: 45px;
}

.timer-set > button{
    width:max-content;
    background-color: rgb(77, 74, 74);
    margin-left: 25px;
}

.timer-set > select{
    font-size: 2rem;
}


@media only screen and (max-width: 767px){
    .task-heading{
        text-align: center;
        display: block;
    }
}